.colorPickerbox {
    font-size: 100px;
    width: 2em;
    height: 2em;
    position: relative;
    margin: 100px auto;cursor: default;
  }
  
  #colorPicker {
    position: absolute;cursor: default;
    top: 0;
    left: 0;
  }
  
  .colorPickerBtnWrap {
    position: absolute;cursor: default;
    left: 0;
    top: 0;
  }
  /* 内外按钮 */
  
  .colorPickerbox .insideBtn,
  .colorPickerbox .outsideBtn {
    position: absolute;
    width: .1em;
    height: .1em;
    box-sizing: border-box;
    border: solid 1px #B3B3B3;
    border-radius: 50%;cursor: default;
  }